@layer components {
  .blueprint {
    .sa {
      &-tooltip {
        display: inline-block;

        div[name='tooltip'] {
          @apply absolute flex items-center gap-2 px-3 py-2 
          border-3 border-white
        text-sm bg-blue-600 text-white 
        font-semibold rounded-lg z-50;
        }

        div[name='arrow'],
        div[name='arrow']::before {
          position: absolute;
          width: 9px;
          height: 9px;
          background-color: inherit;
        }

        div[name='arrow'] {
          visibility: hidden;
        }

        div[name='arrow']::before {
          visibility: visible;
          content: '';
          transform: rotate(45deg);
        }

        /* top */
        div[data-popper-placement^='top'] > div[name='arrow'] {
          bottom: -6px;
        }

        div[data-popper-placement^='top'] > div[name='arrow']::before {
          @apply border-r-3 border-b-3 border-white;
        }

        /* bottom */
        div[data-popper-placement^='bottom'] > div[name='arrow'] {
          top: -6px;
        }

        div[data-popper-placement^='bottom'] > div[name='arrow']::before {
          @apply border-t-3 border-l-3 border-white;
        }

        /* left */
        div[data-popper-placement^='left'] > div[name='arrow'] {
          right: -6px;
        }

        div[data-popper-placement^='left'] > div[name='arrow']::before {
          @apply border-t-3 border-r-3 border-white;
        }

        /* right */
        div[data-popper-placement^='right'] > div[name='arrow'] {
          left: -6px;
        }

        div[data-popper-placement^='right'] > div[name='arrow']::before {
           @apply border-b-3 border-l-3 border-white;
        }
      }
    }
  }
}
