@layer components {
  .doc {
    &-content {
      @apply p-2 sm:p-8;
    }
    &-title {
      @apply text-4xl px-2;
    }
    &-subtitle {
      @apply flex items-center gap-2 text-xl px-2 pt-8 pb-4;
    }
    &-desc {
      @apply p-3 pt-6;
    }
    &-detail {
      @apply px-2 pb-4;
    }
    &-sidenav-btn {
      @apply hover:bg-primary hover:text-white;
    }
    &-link {
      @apply font-semibold text-blue-500 hover:underline;
    }
    &-emphasis {
      @apply text-purple-600 font-medium;
    }
    &-card-content {
      @apply p-4;
    }
    &-padding-none &-card-content {
      @apply p-0;
    }
    &-preview {
      background-color: #FFFFFF20;
      background-image: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.05) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.05) 75%,
          rgba(0, 0, 0, 0.05)
        ),
        linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.05) 25%,
          transparent 25%,
          transparent 75%,
          rgba(0, 0, 0, 0.05) 75%,
          rgba(0, 0, 0, 0.05)
        );
      background-size: 60px 60px;
      background-position: 0 0, 30px 30px;
    }
  }
}
