
@layer components {
  .dark {
    /* Status */
    [status='base-100']:before {
     background-color: var(--color-base-100);
    }

    [status='base-200']:before {
      background-color: var(--color-base-200);
    }

    [status='base-300']:before {
     background-color: var(--color-base-300);
    }

    [status='base-content']:before {
     background-color: var(--color-base-content);
    }

    [status='neutral']:before {
      background-color: var(--color-neutral);
    }

    [status='neutral-focus']:before {
      background-color: var(--color-neutral-focus);
    }

    [status='primary']:before {
      background-color: var(--color-primary);
    }

    [status='primary-focus']:before {
      background-color: var(--color-primary-focus);
    }

    [status='secondary']:before {
      background-color: var(--color-secondary);
    }

    [status='secondary-focus']:before {
      background-color: var(--color-secondary-focus);
    }

    [status='accent']:before {
      background-color: var(--color-accent);
    }

    [status='accent-focus']:before {
      background-color: var(--color-accent-focus);
    }

    [status='error']:before {
      background-color: var(--color-error);
    }

    [status='success']:before {
      background-color: var(--color-success);
    }

    [status='info']:before {
      background-color: var(--color-info);
    }

    [status='warning']:before {
      background-color: var(--color-warning);
    }

    [status='disabled']:before {
      background-color: var(--color-disabled);
    }
  }
}