@layer components {
  .wi {
    /* TODO: Move this to Transitions / Animations */
    &-rotate-fastest {
      animation: wi-rotate 0.25s linear infinite;
    }

    &-rotate-faster {
      animation: wi-rotate 0.5s linear infinite;
    }

    &-rotate-fast {
      animation: wi-rotate 0.75s linear infinite;
    }

    &-rotate {
      animation: wi-rotate 1s linear infinite;
    }

    &-rotate-slow {
      animation: wi-rotate 2s linear infinite;
    }

    &-rotate-slower {
      animation: wi-rotate 3s linear infinite;
    }

    &-rotate-slowest {
      animation: wi-rotate 4s linear infinite;
    }

    &-rotate-none {
      animation: none;
    }
  }
  @-webkit-keyframes wi-rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes wi-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  }
}