@layer components {
  .dark {
    .border-b {
      /* base */
      &-base {
        &-100 {
          border-bottom-color: var(--color-base-100);
        }

        &-200 {
          border-bottom-color: var(--color-base-200);
        }

        &-300 {
          border-bottom-color: var(--color-base-300);
        }

        &-content {
          border-bottom-color: var(--color-base-content);
        }
      }

      /* neutral */
      &-neutral {
        border-bottom-color: var(--color-neutral);

        &-focus {
          border-bottom-color: var(--color-neutral-focus);
        }

        &-content {
          border-bottom-color: var(--color-neutral-content);
        }
      }

      /* primary */
      &-primary {
        border-bottom-color: var(--color-primary);

        &-focus {
          border-bottom-color: var(--color-primary-focus);
        }

        &-content {
          border-bottom-color: var(--color-primary-content);
        }
      }

      /* secondary */
      &-secondary {
        border-bottom-color: var(--color-secondary);

        &-focus {
          border-bottom-color: var(--color-secondary-focus);
        }

        &-content {
          border-bottom-color: var(--color-secondary-content);
        }
      }

      /* accent */
      &-accent {
        border-bottom-color: var(--color-accent);

        &-focus {
          border-bottom-color: var(--color-accent-focus);
        }

        &-content {
          border-bottom-color: var(--color-accent-content);
        }
      }

      /* error */
      &-error {
        border-bottom-color: var(--color-error);

        &-content {
          border-bottom-color: var(--color-error-content);
        }
      }

      /* success */
      &-success {
        border-bottom-color: var(--color-success);

        &-content {
          border-bottom-color: var(--color-success-content);
        }
      }

      /* info */
      &-info {
        border-bottom-color: var(--color-info);

        &-content {
          border-bottom-color: var(--color-info-content);
        }
      }

      /* warning */
      &-warning {
        border-bottom-color: var(--color-warning);

        &-content {
          border-bottom-color: var(--color-warning-content);
        }
      }

      /* disabled */
      &-disabled {
        border-bottom-color: var(--color-disabled);

        &-content {
          border-bottom-color: var(--color-disabled-content);
        }
      }

      /* none */
      &-none {
        border-bottom-color: transparent;
      }
    }
  }
}
